layout {
    tab name="dev" focus=true {
        pane split_direction="Vertical" {
            pane size="68%"
            pane size="32%" split_direction="Horizontal" {
                pane
                pane
            }
        }
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    new_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
