layout {
    cwd "/Users/keinzirp/Development/Work/rough.app"
    tab name="editor" focus=true {
        pane command="kak"
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    tab name="dev" hide_floating_panes=true {
        pane stacked=true {
            pane command="just" {
                args "dev" "start"
            }
            pane command="pi" expanded=true
        }
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    new_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
